<ion-header>
    <app-header-detail [headerTitle]="'Bảng lương'"></app-header-detail>
    <!-- year -->
    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="2" class="card-list-text">
                    Năm
                </ion-col>
                <ion-col size="10" class="card-list-text">
                    <ion-select value="2020">
                        <ion-select-option value="2010">2010</ion-select-option>
                        <ion-select-option value="2011">2011</ion-select-option>
                        <ion-select-option value="2012">2012</ion-select-option>
                        <ion-select-option value="2013">2013</ion-select-option>
                        <ion-select-option value="2014">2014</ion-select-option>
                        <ion-select-option value="2015">2015</ion-select-option>
                        <ion-select-option value="2016">2016</ion-select-option>
                        <ion-select-option value="2017">2017</ion-select-option>
                        <ion-select-option value="2018">2018</ion-select-option>
                        <ion-select-option value="2019">2019</ion-select-option>
                        <ion-select-option value="2020">2020</ion-select-option>
                    </ion-select>
                </ion-col>

            </ion-row>

        </ion-grid>
    </ion-card>
</ion-header>

<ion-content>

    <!-- month -->
    <ion-card class="card-payroll" *ngFor=" let item of [1,2,3,4,5,6,7,8,9,10,11,12]" routerLink="/main/wages/salary-detail">
        <ion-grid>
            <ion-row>
                <ion-col size="6" class="card-payroll-header"> Bảng lương </ion-col>
                <ion-col size="6" class="card-payroll-header-detail"> Chi tiết </ion-col>

                <ion-col size="3" class="card-payroll-icon" *ngIf="item % 2 == 0 " [class]="item == 4 || item == 8 || item == 12 ?'bg-success': 'bg-danger'">
                    <img class="card-payroll-icon-img" src="assets/icon/wallet.svg" alt="">
                </ion-col>
                <ion-col size="3" class="card-payroll-icon" *ngIf="item % 2 != 0 " [class]="item == 1 || item == 5 || item == 9 ?'bg-secondary': 'bg-tertiary'">
                    <img class="card-payroll-icon-img" src="assets/icon/wallet.svg" alt="">
                </ion-col>
                <ion-col size="9">
                    <div class="card-payroll-info">
                        <div class="card-payroll-info-label">Tháng:</div>
                        <div class="card-payroll-info-text"> 04/2020</div>
                    </div>
                    <div class="card-payroll-info">
                        <div class="card-payroll-info-label">Thực lĩnh:</div>
                        <div class="card-payroll-info-money">** *** *** VNĐ </div>
                    </div>

                </ion-col>

                <ion-col size="7"></ion-col>
                <ion-col size="5">
                    <button class="button-feedback-23"> Hiện thị</button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card>

</ion-content>