<ion-header>
    <app-header-detail [headerTitle]="'Bảng lương'"></app-header-detail>
    <!-- year -->
    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="2" class="card-list-text">
                    Năm
                </ion-col>
                <ion-col size="10" class="card-list-text">
                    <ion-datetime mode="ios" class="ion-datetime-label" #mydt placeholder="2021" (ionChange)="changeDate($event);" [max]="currentDate" displayFormat="YYYY" pickerFormat="YYYY"></ion-datetime>
                </ion-col>

            </ion-row>

        </ion-grid>
    </ion-card>
</ion-header>

<ion-content>

    <!-- month -->
    <ion-card class="card-payroll" *ngFor=" let item of [1,2,3,4,5,6,7,8,9,10,11,12]" routerLink="/main/wages/salary-detail" (click)="openModal(item)">
        <ion-grid>
            <ion-row>
                <ion-col size="6" class="card-payroll-header"> Bảng lương </ion-col>
                <ion-col size="6" class="card-payroll-header-detail"> Chi tiết </ion-col>

                <ion-col size="3" class="card-payroll-icon" *ngIf="item % 2 == 0 " [class]="item == 4 || item == 8 || item == 12 ?'bg-success': 'bg-danger'">
                    <img class="card-payroll-icon-img" src="assets/icon/wallet.svg" alt="">
                </ion-col>
                <ion-col size="3" class="card-payroll-icon" *ngIf="item % 2 != 0 " [class]="item == 1 || item == 5 || item == 9 ?'bg-secondary': 'bg-tertiary'">
                    <img class="card-payroll-icon-img" src="assets/icon/wallet.svg" alt="">
                </ion-col>
                <ion-col size="9">
                    <div class="card-payroll-info">
                        <div class="card-payroll-info-label">Tháng:</div>
                        <div class="card-payroll-info-text"> 4/{{selectedYear}}</div>
                    </div>
                    <div class="card-payroll-info">
                        <div class="card-payroll-info-label">Thực lĩnh:</div>
                        <div class="card-payroll-info-money">** *** *** VNĐ </div>
                    </div>

                </ion-col>

                <ion-col size="7"></ion-col>
                <ion-col size="5">
                    <button class="button-feedback-23"> Hiển thị</button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card>

    <ion-card class="card-payroll" *ngFor=" let item of listSalaryOfYear; let i = index" routerLink="/main/wages/salary-detail" (click)="openModal(item)">
        <ion-grid>
            <ion-row>
                <ion-col size="6" class="card-payroll-header"> Bảng lương </ion-col>
                <ion-col size="6" class="card-payroll-header-detail"> Chi tiết </ion-col>

                <ion-col size="3" class="card-payroll-icon" *ngIf="i % 2 == 0 " [class]="i == 4 || i == 8 || i == 12 ?'bg-success': 'bg-danger'">
                    <img class="card-payroll-icon-img" src="assets/icon/wallet.svg" alt="">
                </ion-col>
                <ion-col size="3" class="card-payroll-icon" *ngIf="i % 2 != 0 " [class]="i == 1 || i == 5 || i == 9 ?'bg-secondary': 'bg-tertiary'">
                    <img class="card-payroll-icon-img" src="assets/icon/wallet.svg" alt="">
                </ion-col>
                <ion-col size="9">
                    <div class="card-payroll-info">
                        <div class="card-payroll-info-label">Tháng:</div>
                        <div class="card-payroll-info-text"> {{i}}/{{selectedYear | date:'yyyy'}}</div>
                    </div>
                    <div class="card-payroll-info">
                        <div class="card-payroll-info-label">Thực lĩnh:</div>
                        <div class="card-payroll-info-money">{{item.FinalAmount}} VNĐ </div>
                    </div>

                </ion-col>

                <ion-col size="7"></ion-col>
                <ion-col size="5">
                    <button class="button-feedback-23"> Hiển thị</button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card>

</ion-content>