.card-payroll {
    padding: 10px;
    border-radius: 16px;
    color: var(--ion-color-light);
    outline: none;
    cursor: pointer;
    .card-payroll-header {
        font-size: 16px;
        font-family: Nunito-SemiBold;
    }
    .card-payroll-header-detail {
        font-size: 12px;
        font-family: Nunito-Regular;
        text-align: right;
    }
    .card-payroll-icon {
        border-radius: 20px;
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        .card-payroll-icon-img {
            width: 33px;
            height: 40px;
            object-fit: cover;
        }
    }
    .card-payroll-info {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        .card-payroll-info-label {
            font-size: 13px;
            color: var(--light-shade);
            font-family: OpenSans-Bold;
        }
        .card-payroll-info-text {
            font-size: 16px;
            color: var( --ion-color-warning-tint);
            font-family: OpenSans-Bold;
        }
        .card-payroll-info-money {
            font-size: 16px;
            color: var(--ion-color-success);
            font-family: OpenSans-Bold;
        }
    }
}

ion-select {
    width: 100%;
    justify-content: center;
}