.wages-home {
    margin-top: 50px;
    margin-bottom: 30px;
}

.header-wages {
    color: var(--ion-color-danger-contrast) !important;
    p {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 8px 0;
        border-radius: 20px;
        border: 0.5px solid var(--ion-color-warning-tint);
        font-size: 16;
        font-weight: 600;
        color: var(--ion-color-warning-tint);
    }
    .head {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px 0;
        button {
            background-color: transparent;
            &:focus {
                outline: none;
            }
            ion-icon {
                color: var(--ion-color-warning-tint);
                font-size: 20px;
                font-weight: 600;
            }
        }
        span {
            color: var(--ion-color-warning-tint);
            font-weight: 600;
            display: block;
            padding-bottom: 2px;
        }
    }
}

.wages-home-calendar {
    width: 100%;
    padding: 0px 16px;
    .event-binding {
        position: absolute;
        display: flex;
        z-index: 1000;
        top: 0;
        right: 0;
        .item-circle {
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
    }
}

.payroll {
    // width: 100%;
    // padding: 15px 15px 40px 15px;
    margin: 0px 16px 0px 16px;
    background-image: url('../../../../../assets/icon/payroll.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--ion-color-light);
    outline: none;
    cursor: pointer;
    .payroll-box {
        padding: 25px 25px 30px 25px;
    }
    .payroll-header {
        font-size: 16px;
        font-family: Nunito-SemiBold;
    }
    .payroll-header-detail {
        font-size: 12px;
        font-family: Nunito-Regular;
        text-align: right;
    }
    .payroll-info {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        .payroll-info-label {
            font-size: 13px;
            color: var(--light-shade);
            font-family: OpenSans-Bold;
        }
        .payroll-info-text {
            font-size: 16px;
            color: var( --ion-color-warning-tint);
            font-family: OpenSans-Bold;
        }
    }
}