.wages-home {
    margin-top: 50px;
    margin-bottom: 30px;
}

.wages-home-calendar {
    width: 100%;
    padding: 0px 16px;
}

.payroll {
    width: 100%;
    padding: 15px 15px 40px 15px;
    background-image: url('../../../../../assets/icon/payroll.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    color: var(--ion-color-light);
    outline: none;
    cursor: pointer;
    .payroll-header {
        font-size: 16px;
        font-family: Nunito-SemiBold;
    }
    .payroll-header-detail {
        font-size: 12px;
        font-family: Nunito-Regular;
        text-align: right;
    }
    .payroll-info {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        .payroll-info-label {
            font-size: 13px;
            color: var(--light-shade);
            font-family: OpenSans-Bold;
        }
        .payroll-info-text {
            font-size: 16px;
            color: var( --ion-color-warning-tint);
            font-family: OpenSans-Bold;
        }
    }
}