<ion-header class="profile-detail">
    <app-header-detail [headerTitle]="'Hồ sơ cá nhân'"></app-header-detail>
</ion-header>
<ion-content>

    <!-- list  -->
    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="2" class="card-list-icon">
                    <img src="assets/icon/icon-profile.svg" alt="">
                </ion-col>
                <ion-col size="8" class="card-list-text">
                    Tổng quan
                </ion-col>
                <ion-col size="2" class="card-list-button" (click)="showInfo(1)">
                    <ion-icon name="chevron-down-outline" *ngIf="selected != 1"></ion-icon>
                    <!-- hide -->
                    <ion-icon name="chevron-up-outline" *ngIf="selected == 1"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="selected == 1">
                <ion-col class="card-list-info-label" size="4">Họ tên</ion-col>
                <ion-col class="card-list-info-text" size="8">Trần Quang Anh</ion-col>

                <ion-col class="card-list-info-label" size="4">Mã NV</ion-col>
                <ion-col class="card-list-info-text" size="8">MNV001</ion-col>

                <ion-col class="card-list-info-label" size="4">Giới tính</ion-col>
                <ion-col class="card-list-info-text" size="8">Nam</ion-col>

                <ion-col class="card-list-info-label" size="4">Ngày sinh</ion-col>
                <ion-col class="card-list-info-text" size="8">29/08/1998</ion-col>
            </ion-row>

        </ion-grid>
    </ion-card>
    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="2" class="card-list-icon">
                    <img src="assets/icon/icon-info.svg" alt="">
                </ion-col>
                <ion-col size="8" class="card-list-text">
                    Liên hệ
                </ion-col>
                <ion-col size="2" class="card-list-button" (click)="showInfo(2)">
                    <ion-icon name="chevron-down-outline" *ngIf="selected != 2"></ion-icon>
                    <!-- hide -->
                    <ion-icon name="chevron-up-outline" *ngIf="selected == 2"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="selected == 2">
                <ion-col class="card-list-info-label" size="4">Email:</ion-col>
                <ion-col class="card-list-info-text" size="8">tranquanganh@gmail.com</ion-col>

                <ion-col class="card-list-info-label" size="4">Phone</ion-col>
                <ion-col class="card-list-info-text" size="8">0987654321</ion-col>


            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="2" class="card-list-icon">
                    <img src="assets/icon/icon-profile.svg" alt="">
                </ion-col>
                <ion-col size="8" class="card-list-text">
                    Tài chính
                </ion-col>
                <ion-col size="2" class="card-list-button">
                    <ion-icon name="chevron-down-outline"></ion-icon>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-card>
    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="2" class="card-list-icon">
                    <img src="assets/icon/icon-check.svg" alt="">
                </ion-col>
                <ion-col size="8" class="card-list-text">
                    Hành chính
                </ion-col>
                <ion-col size="2" class="card-list-button">
                    <ion-icon name="chevron-down-outline"></ion-icon>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-card>
    <ion-grid class="profile-detail-feedback">
        <ion-row>
            <ion-col>
                <button class="button-feedback">
                    Phản hồi về thông tin
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>