<ion-header>
    <ion-grid>
        <ion-row class="home-leave">
            <ion-col size="2" class="home-leave-button">
                <ion-buttons>
                    <ion-back-button [defaultHref]="'/main/home'" text="" icon="chevron-back-outline">
                    </ion-back-button>
                </ion-buttons>
            </ion-col>
            <ion-col size="8" class="home-leave-text">
                Xin nghỉ
            </ion-col>
            <ion-col size="2" class="home-leave-icon">

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content>
    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="3" class="card-list-text">
                    Loại
                </ion-col>
                <ion-col size="7" class="card-list-text-warning ">
                    Nghỉ phép
                </ion-col>
                <ion-col size="2" class="card-list-icon-right">
                    <img src="assets/icon/icon-tick-right.svg" alt="">
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-list lines="none">
        <ion-item>
            <ion-label>Từ:</ion-label>
            <ion-datetime mode="ios" placeholder="2020-03-15" display-format=" YYYY-MM-DD" (ionChange)="onDateChange($event)" picker-format="YYYY-MM-DD" [(ngModel)]="startDate"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Thời gian</ion-label>
            <ion-datetime mode="ios" placeholder="08 AM" display-format="H A" picker-format="H A" [(ngModel)]="startTime"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Đến</ion-label>
            <ion-datetime mode="ios" placeholder="2020-03-15" display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" (ionChange)="onEndDateChange($event)" [(ngModel)]="endDate"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Thời gian</ion-label>
            <ion-datetime mode="ios" placeholder="03 PM" display-format="H A" picker-format="H A" [(ngModel)]="endTime"></ion-datetime>
        </ion-item>

    </ion-list>
    <ion-grid>
        <ion-row class="home-leave-input ">
            <ion-col size="12 " class="input-title-content ">
                Nội dung
            </ion-col>
            <ion-col size="12 ">
                <ion-textarea rows="5 " class="input-content " placeholder="Nhập nội dung.... " [(ngModel)]="description"></ion-textarea>
            </ion-col>
            <ion-col size="12 " class="home-leave-input-day ">
                <img src="assets/icon/icon-home-leave-day.svg " alt=" ">
                <div>Phép năm còn lại: 5/12 ngày</div>
            </ion-col>
            <ion-col size="12 ">
                <button class="button-primary" (click)="sendForm()"> Gửi đơn</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>