<ion-header>
    <div class="header-detail">
        <ion-grid>
            <ion-row>
                <ion-col size="2" class="header-detail-button">
                    <ion-buttons>
                        <ion-back-button [defaultHref]="'/main/home'" text="" icon="chevron-back-outline">
                        </ion-back-button>
                    </ion-buttons>
                </ion-col>
                <ion-col size="8" class="header-detail-text">
                    {{headerTitle}}
                </ion-col>
                <ion-col size="2" class="header-detail-icon">

                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content>

</ion-content>