<ion-header class="profile">
    <app-header [headerTitle]="'Profile'"></app-header>
    <img *ngIf="image == null" class="profile-avatar-img" src="assets/profile/group_5170.png" alt="">


    <img *ngIf="image != null" class="profile-avatar-img" alt="Avatar" [src]="transform(image)">

</ion-header>

<div class="profile-info">
    <ion-card class="card-info">
        <ion-grid>
            <ion-row>
                <ion-col size="2" class="card-info-item">
                    <img src="assets/icon/person.svg" alt="">
                </ion-col>
                <ion-col size="7" class="card-info-text">
                    <div class="card-info-text-name">
                        {{profileModel?.LastName}}
                    </div>
                    <div class="card-info-text-position">
                        {{workModel?.PositionName}}
                    </div>
                </ion-col>
                <ion-col size="3" class="card-info-camera">
                    <input type="file" #fileInput (change)="uploadFile($event)" hidden="true" accept="image/*" />
                    <ion-fab-button mode="ios" (click)="selectImageSource()">
                        <img src="assets/icon/camera.svg" alt="">
                    </ion-fab-button>
                </ion-col>

            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="2" class="card-list-icon">
                    <img src="assets/icon/icon-profile.svg" alt="">
                </ion-col>
                <ion-col size="8" class="card-list-text">
                    Hồ sơ cá nhân
                </ion-col>
                <ion-col size="2" class="card-list-button">
                    <ion-icon routerLink="/main/profile/profile-detail" name="chevron-forward-outline"></ion-icon>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-card>
    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="2" class="card-list-icon">
                    <img src="assets/icon/icon-info.svg" alt="">
                </ion-col>
                <ion-col size="8" class="card-list-text">
                    Thông tin công việc
                </ion-col>
                <ion-col size="2" class="card-list-button">
                    <ion-icon routerLink="/main/profile/profile-work" name="chevron-forward-outline"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</div>