<ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="home">
            <ion-icon name="grid"></ion-icon>
            <ion-label>
                <ion-icon name="ellipse"></ion-icon>
            </ion-label>
        </ion-tab-button>


        <ion-tab-button tab="wages">
            <ion-icon name="time-outline"></ion-icon>
            <ion-label>
                <ion-icon name="ellipse"></ion-icon>
            </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="mail">
            <ion-icon name="reader-outline"></ion-icon>
            <ion-label>
                <ion-icon name="ellipse"></ion-icon>
            </ion-label>
        </ion-tab-button>


        <ion-tab-button tab="profile">
            <ion-avatar class="ion-avatar">
                <img src="assets/icon/Avatar.jpg">
            </ion-avatar>
            <ion-label>
                <ion-icon name="ellipse"></ion-icon>
            </ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>