<ion-header class="message">
    <app-header [headerTitle]="'Hòm thư'"></app-header>
</ion-header>

<ion-content>

    <ion-card class="card-list  ">
        <div class="card-list-avatar">
            <img class="card-list-avatar-img" src="assets/icon/avt.jfif" alt="">
        </div>
        <div class="card-list-header">
            <div class="card-list-header-name">Liam Payne</div>
            <div class="card-list-header-text">Designer</div>
        </div>
    </ion-card>


    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="2" class="card-list-icon">
                    <img src="assets/icon/icon-profile.svg" alt="">
                </ion-col>
                <ion-col size="10" class="card-list-text">
                    20/20/2020
                </ion-col>
                <ion-col size="12" class="card-list-text-ms">
                    Đề xuất về quy trình làm việc
                </ion-col>
                <ion-col size="6"> </ion-col>
                <ion-col size="6" offset-4>
                    <button class="button-success-tint">
                        Đang xử lý
                    </button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-card>

    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="2" class="card-list-icon">
                    <img src="assets/icon/icon-profile.svg" alt="">
                </ion-col>
                <ion-col size="10" class="card-list-text">
                    20/20/2020
                </ion-col>
                <ion-col size="12" class="card-list-text-ms">
                    Đề xuất về quy trình làm việc
                </ion-col>
                <ion-col size="6"> </ion-col>
                <ion-col size="6" offset-4>
                    <button class="button-medium-tint ">
                      Đã xử lý
                  </button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-card>
</ion-content>
<ion-footer class="message-footer">
    <ion-grid>
        <ion-row>
            <ion-col size="6"></ion-col>
            <ion-col size="6">
                <button class="button-feedback-36"> Tạo góp ý </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>