.button-feedback {
    border-radius: 23px;
    border: 1px solid var(--ion-color-warning-tint);
    color: var(--ion-color-warning-tint);
    font-size: 16px;
    font-family: OpenSans-Bold;
    height: 46px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var( --ion-item-background);
    outline: none;
    margin: 15px 0px;
    padding: 10px;
    &:focus {
        color: var( --ion-item-background);
        background: var(--ion-color-warning-tint);
    }
}

.button-feedback-36 {
    border-radius: 23px;
    border: 1px solid var(--ion-color-warning-tint);
    color: var(--ion-color-warning-tint);
    font-size: 16px;
    font-family: OpenSans-Bold;
    height: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var( --ion-item-background);
    outline: none;
    margin: 15px 0px;
    padding: 10px;
    &:focus {
        color: var( --ion-item-background);
        background: var(--ion-color-warning-tint);
    }
}

.button-feedback-23 {
    border-radius: 23px;
    border: 0.5px solid var(--ion-color-warning-tint);
    color: var(--ion-color-warning-tint);
    font-size: 12px;
    font-family: OpenSans-Bold;
    height: 23px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    outline: none;
    margin: 10px 0px;
    padding: 10px;
    &:focus {
        color: var( --ion-item-background);
        background: var(--ion-color-warning-tint);
    }
}

.button-success-tint {
    font-size: 14px;
    border-radius: 23px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ion-color-light-contrast);
    outline: none;
    background-image: linear-gradient(#93BC6F, #B1B963);
    width: 100%;
    font-family: OpenSans-Bold;
}

.button-medium-tint {
    font-size: 14px;
    border-radius: 23px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ion-color-light-contrast);
    outline: none;
    background: var(--ion-color-light-shade);
    width: 100%;
    font-family: OpenSans-Bold;
}

.button-primary {
    border-radius: 23px;
    color: var(--ion-color-light-contrast);
    font-size: 16px;
    font-family: OpenSans-Bold;
    height: 46px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#998E65, #BFB17F);
    outline: none;
    margin: 15px 0px;
    // padding: 10px;
}