.card-info {
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: var(--ion-color-medium);
    color: var(--ion-color-danger-contrast);
    font-size: 16px;
    font-family: Nunito-SemiBold;
    .card-info-item {
        display: flex;
        align-items: center;
    }
    .card-info-camera {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .card-info-text {
        font-family: OpenSans-Bold;
        .card-info-text-name {
            font-size: 21px;
            color: var(--ion-color-danger-contrast);
        }
        .card-info-text-position {
            font-size: 16px;
            color: var( --light-shade);
        }
    }
}

.card-list {
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-color: var(--ion-color-medium);
    color: var(--ion-color-danger-contrast);
    font-size: 16px;
    font-family: Nunito-SemiBold;
    margin-top: 10px;
    margin-bottom: 10px;
    .card-list-icon {
        display: flex;
        align-items: center;
        outline: none;
    }
    .card-list-text {
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    .card-list-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        outline: none;
    }
    // phần đầu gồm avt và tên chức vụ
    .card-list-avatar {
        width: 44px;
        height: 44px;
        border-radius: 16px;
        background: var(--ion-color-primary);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .card-list-avatar-img {
            width: 25px;
            height: 25px;
            object-fit: cover;
            border-radius: 6px;
        }
    }
    .card-list-header {
        font-family: OpenSans-Bold;
        padding-left: 15px;
        .card-list-header-name {
            font-size: 21px;
            color: var(--ion-color-danger-contrast);
        }
        .card-list-header-text {
            font-size: 16px;
            color: var( --light-shade);
        }
    }
    // hiện thị thông tin chi tiết trong card
    // .card-list-info { }
    .card-list-info-label {
        font-size: 14px;
        font-family: OpenSans-Bold;
        padding: 15px 0px;
    }
    .card-list-info-text {
        font-size: 14px;
        font-family: OpenSans-Bold;
        color: var( --light-shade);
        text-align: right;
        padding: 15px 0px;
        border-bottom: 0.1px solid rgba($color: #ffffff, $alpha: 0.1);
    }
    //text cho tin nhắn
    .card-list-text-ms {
        font-size: 14px;
        font-family: OpenSans-Bold;
        color: var( --light-shade);
        text-align: center;
        padding: 15px 0px;
    }
}