.card-info {
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    // background-color: var(--ion-color-medium);
    color: var(--ion-color-danger-contrast);
    font-size: 16px;
    font-family: Nunito-SemiBold;
    // bg blur
    backdrop-filter: blur(10px);
    background-color: rgba($color: #292929, $alpha: 0.36);
    .card-info-item {
        display: flex;
        align-items: center;
    }
    .card-info-camera {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .card-info-text {
        font-family: OpenSans-Bold;
        .card-info-text-name {
            font-size: 21px;
            color: var(--ion-color-danger-contrast);
        }
        .card-info-text-position {
            font-size: 16px;
            color: var( --light-shade);
        }
    }
}

.card-list {
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-color: var(--ion-color-medium);
    color: var(--ion-color-danger-contrast);
    font-size: 16px;
    font-family: Nunito-SemiBold;
    margin-top: 10px;
    margin-bottom: 10px;
    .ion-datetime-text {
        font-size: 16px;
        color: var(--ion-color-light);
    }
    .ion-datetime-label {
        color: #F0DE9F;
        text-align: center;
    }
    .card-list-icon {
        display: flex;
        align-items: center;
        outline: none;
    }
    .card-list-icon-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .card-list-text {
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    .card-list-text-detail {
        font-size: 12px;
        font-family: Nunito-Regular;
        text-align: right;
    }
    .card-list-text-warning {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: var(--ion-color-warning-tint);
    }
    .card-list-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        outline: none;
    }
    // phần đầu gồm avt và tên chức vụ
    // .card-list-avatar {
    //     width: 44px;
    //     height: 44px;
    //     border-radius: 16px;
    //     background: var(--ion-color-primary);
    //     display: flex;
    //     justify-content: center;
    //     align-items: flex-end;
    // }
    .card-list-avatar-img {
        width: 44px;
        height: 44px;
        border-radius: 16px;
        object-fit: cover;
    }
    .card-list-header {
        font-family: OpenSans-Bold;
        padding-left: 15px;
        .card-list-header-name {
            font-size: 21px;
            color: var(--ion-color-danger-contrast);
        }
        .card-list-header-text {
            font-size: 16px;
            color: var( --light-shade);
        }
    }
    // hiện thị thông tin chi tiết trong card
    // .card-list-info { }
    .card-list-info-label {
        font-size: 14px;
        font-family: OpenSans-Bold;
        padding: 15px 0px;
    }
    .card-list-info-text {
        font-size: 14px;
        font-family: OpenSans-Bold;
        color: var( --light-shade);
        text-align: right;
        padding: 15px 0px;
        border-bottom: 0.1px solid rgba($color: #ffffff, $alpha: 0.1);
    }
    //text cho tin nhắn
    .card-list-text-ms {
        font-size: 14px;
        font-family: OpenSans-Bold;
        color: var( --light-shade);
        text-align: center;
        padding: 15px 0px;
    }
}

// background gradient + card
// yellow
.bg-yellow {
    background-image: linear-gradient(#C5AE38, #DCD860);
}

//xanh lá cây
.bg-success {
    background-image: linear-gradient(#93BC6F, #B1B963);
}

// đỏ
.bg-danger {
    background-image: linear-gradient(#C9785F, #A54D4D);
}

//xanh nước biển
.bg-secondary {
    background-image: linear-gradient(#6B8FAF, #4CB199);
}

//tím
.bg-tertiary {
    background-image: linear-gradient(#AF6BAD, #7F4CB1);
}

.bg-blur {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
}

.card-statistics {
    margin: 0px;
    padding: 15px;
    border-radius: 16px;
    font-size: 14px;
    color: var(--ion-color-light-tint);
    .card-statistics-header {
        display: flex;
        align-items: center;
        .card-statistics-header-icon {
            margin-right: 15px;
        }
    }
    .card-statistics-day {
        text-align: right;
        &::after {
            content: "ngày";
            color: var( --light-shade);
            margin-left: 5px;
        }
    }
}

//style tiêu đề và nội dung 
.input-title-content {
    font-size: 16px;
    color: var( --ion-color-light-tint);
    font-family: Nunito-Regular;
    margin-left: 10px;
}

.input-content {
    border-radius: 20px;
    color: var( --ion-color-light-tint);
    font-size: 14px;
    font-family: OpenSans-Bold;
    padding: 10px;
    background: var(--ion-color-medium);
}

.modalDayDetail {
    .modal-shadow {
        display: none;
    }
    .modal-wrapper {
        height: 40%;
        bottom: 0;
        position: absolute;
        background-color: var(--ion-card-background);
        border-radius: 25px 25px 0 0;
    }
}

//============auth===============