// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

//========font-face=========
@font-face {
    font-family: "Nunito-Bold";
    src: url("../assets/Fonts/Nunito-Bold.ttf");
}

@font-face {
    font-family: "Nunito-Light";
    src: url("../assets/Fonts/Nunito-Light.ttf");
}

@font-face {
    font-family: "Nunito-Regular";
    src: url("../assets/Fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Nunito-SemiBold";
    src: url("../assets/Fonts/Nunito-SemiBold.ttf");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../assets/Fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("../assets/Fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../assets/Fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../assets/Fonts/OpenSans-SemiBold.ttf");
}

:root {
    /** primary **/
    --ion-color-primary: #F5BC55;
    --ion-color-primary-rgb: 240, 222, 159;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #d3c38c;
    --ion-color-primary-tint: #f2e1a9;
    //@function
    --ion-color-secondary: #AF6BAD;
    --ion-color-secondary-rgb: 175, 107, 173;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #9a5e98;
    --ion-color-secondary-tint: #b77ab5;
    //
    --ion-color-tertiary: #4CB199;
    --ion-color-tertiary-rgb: 76, 177, 153;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #439c87;
    --ion-color-tertiary-tint: #5eb9a3;
    //
    --ion-color-success: #95BC6E;
    --ion-color-success-rgb: 149, 188, 110;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #83a561;
    --ion-color-success-tint: #a0c37d;
    //
    --ion-color-warning: #DCD860;
    --ion-color-warning-rgb: 220, 216, 96;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #c2be54;
    --ion-color-warning-tint: #F0DE9F;
    //
    --ion-color-danger: #B25D54;
    --ion-color-danger-rgb: 178, 93, 84;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #D15151;
    --ion-color-danger-tint: #C9785F;
    //
    --ion-color-dark: #1A1A1A;
    --ion-color-dark-rgb: 26, 26, 26;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255, 0.5;
    --ion-color-dark-shade: #171717;
    --ion-color-dark-tint: #313131;
    //
    --ion-color-medium: #292929;
    --ion-color-medium-rgb: 41, 41, 41;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #242424;
    --ion-color-medium-tint: #3e3e3e;
    //
    --ion-color-light: #FFFFFF;
    --ion-color-light-rgb: 255, 255, 255;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #5E5E5E;
    --ion-color-light-tint: #ffffff;
    //background
    --ion-background-color: #1A1A1A;
    --ion-toolbar-background: #1A1A1A;
    --ion-item-background: #1A1A1A;
    --ion-card-background: #292929;
    // color text label
    --light-shade: rgba(255, 255, 255, 0.5);
}

@media (prefers-color-scheme: dark) {
    /*
   * Dark Colors
   * -------------------------------------------
   */
    body {
        //font
        // font-family: "Nunito-SemiBold";
        /** primary **/
        --ion-color-primary: #F5BC55;
        --ion-color-primary-rgb: 240, 222, 159;
        --ion-color-primary-contrast: #000000;
        --ion-color-primary-contrast-rgb: 0, 0, 0;
        --ion-color-primary-shade: #d3c38c;
        --ion-color-primary-tint: #f2e1a9;
        //@function
        --ion-color-secondary: #AF6BAD;
        --ion-color-secondary-rgb: 175, 107, 173;
        --ion-color-secondary-contrast: #000000;
        --ion-color-secondary-contrast-rgb: 0, 0, 0;
        --ion-color-secondary-shade: #9a5e98;
        --ion-color-secondary-tint: #b77ab5;
        //
        --ion-color-tertiary: #4CB199;
        --ion-color-tertiary-rgb: 76, 177, 153;
        --ion-color-tertiary-contrast: #000000;
        --ion-color-tertiary-contrast-rgb: 0, 0, 0;
        --ion-color-tertiary-shade: #439c87;
        --ion-color-tertiary-tint: #5eb9a3;
        //
        --ion-color-success: #95BC6E;
        --ion-color-success-rgb: 149, 188, 110;
        --ion-color-success-contrast: #000000;
        --ion-color-success-contrast-rgb: 0, 0, 0;
        --ion-color-success-shade: #83a561;
        --ion-color-success-tint: #a0c37d;
        //
        --ion-color-warning: #DCD860;
        --ion-color-warning-rgb: 220, 216, 96;
        --ion-color-warning-contrast: #000000;
        --ion-color-warning-contrast-rgb: 0, 0, 0;
        --ion-color-warning-shade: #c2be54;
        --ion-color-warning-tint: #F0DE9F;
        //
        --ion-color-danger: #B25D54;
        --ion-color-danger-rgb: 178, 93, 84;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255, 255, 255;
        --ion-color-danger-shade: #D15151;
        --ion-color-danger-tint: #C9785F;
        //
        --ion-color-dark: #1A1A1A;
        --ion-color-dark-rgb: 26, 26, 26;
        --ion-color-dark-contrast: #ffffff;
        --ion-color-dark-contrast-rgb: 255, 255, 255;
        --ion-color-dark-shade: #171717;
        --ion-color-dark-tint: #313131;
        //
        --ion-color-medium: #292929;
        --ion-color-medium-rgb: 41, 41, 41;
        --ion-color-medium-contrast: #ffffff;
        --ion-color-medium-contrast-rgb: 255, 255, 255;
        --ion-color-medium-shade: #242424;
        --ion-color-medium-tint: #3e3e3e;
        //
        --ion-color-light: #FFFFFF;
        --ion-color-light-rgb: 255, 255, 255;
        --ion-color-light-contrast: #000000;
        --ion-color-light-contrast-rgb: 0, 0, 0;
        --ion-color-light-shade: #5E5E5E;
        --ion-color-light-tint: #ffffff;
        //background
        --ion-background-color: #1A1A1A;
        --ion-toolbar-background: #1A1A1A;
        --ion-item-background: #1A1A1A;
        --ion-card-background: #292929;
    }
    /*
   * iOS Dark Theme
   * -------------------------------------------
   */
    .ios body {
        --ion-background-color: #1A1A1A;
        --ion-background-color-rgb: 26, 26, 26;
        --ion-text-color: #ffffff;
        --ion-text-color-rgb: 255, 255, 255;
        --ion-color-step-50: #0d0d0d;
        --ion-color-step-100: #1a1a1a;
        --ion-color-step-150: #262626;
        --ion-color-step-200: #333333;
        --ion-color-step-250: #404040;
        --ion-color-step-300: #4d4d4d;
        --ion-color-step-350: #595959;
        --ion-color-step-400: #666666;
        --ion-color-step-450: #737373;
        --ion-color-step-500: #808080;
        --ion-color-step-550: #8c8c8c;
        --ion-color-step-600: #999999;
        --ion-color-step-650: #a6a6a6;
        --ion-color-step-700: #b3b3b3;
        --ion-color-step-750: #bfbfbf;
        --ion-color-step-800: #cccccc;
        --ion-color-step-850: #d9d9d9;
        --ion-color-step-900: #e6e6e6;
        --ion-color-step-950: #f2f2f2;
        --ion-toolbar-background: #1A1A1A;
        --ion-item-background: #1A1A1A;
        --ion-card-background: #292929;
    }
    /*
   * Material Design Dark Theme
   * -------------------------------------------
   */
    .md body {
        --ion-background-color: #1A1A1A;
        --ion-background-color-rgb: 26, 26, 26;
        --ion-text-color: #ffffff;
        --ion-text-color-rgb: 255, 255, 255;
        --ion-border-color: #222222;
        --ion-color-step-50: #1e1e1e;
        --ion-color-step-100: #2a2a2a;
        --ion-color-step-150: #363636;
        --ion-color-step-200: #414141;
        --ion-color-step-250: #4d4d4d;
        --ion-color-step-300: #595959;
        --ion-color-step-350: #656565;
        --ion-color-step-400: #717171;
        --ion-color-step-450: #7d7d7d;
        --ion-color-step-500: #898989;
        --ion-color-step-550: #949494;
        --ion-color-step-600: #a0a0a0;
        --ion-color-step-650: #acacac;
        --ion-color-step-700: #b8b8b8;
        --ion-color-step-750: #c4c4c4;
        --ion-color-step-800: #d0d0d0;
        --ion-color-step-850: #dbdbdb;
        --ion-color-step-900: #e7e7e7;
        --ion-color-step-950: #f3f3f3;
        --ion-toolbar-background: #1A1A1A;
        --ion-item-background: #1A1A1A;
        --ion-card-background: #292929;
    }
}