<ion-header>
    <app-header-detail [headerTitle]="'Chi tiết lương'" [isModal]="true"></app-header-detail>
    <!-- year -->
    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="2" class="card-list-text">
                    Năm
                </ion-col>
                <ion-col size="10" class="card-list-text">
                    {{data?.CreatedOn | date: 'YYYY'}}
                </ion-col>

            </ion-row>

        </ion-grid>
    </ion-card>
</ion-header>

<ion-content>
    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="1" class="card-list-icon">
                    <img src="assets/icon/icon-profile.svg" alt="">
                </ion-col>
                <ion-col size="10" class="card-list-text">
                    Lương, phụ cấp
                </ion-col>
                <ion-col size="1" class="card-list-button" (click)="showInfo()">
                    <ion-icon name="chevron-down-outline" *ngIf="selected == false"></ion-icon>
                    <!-- hide -->
                    <ion-icon name="chevron-up-outline" *ngIf="selected == true"></ion-icon>
                </ion-col>
                <ion-col size="12" *ngIf="selected == true">
                    <!-- detail -->
                    <ion-row>
                        <ion-col class="card-list-info-label" size="6">Lương cơ bản</ion-col>
                        <ion-col class="card-list-info-text" size="6">{{data?.BaseSalary}}</ion-col>

                        <ion-col class="card-list-info-label" size="6">Công đi làm</ion-col>
                        <ion-col class="card-list-info-text" size="6">{{data?.RealCount}}</ion-col>

                        <ion-col class="card-list-info-label" size="6">Công chế độ</ion-col>
                        <ion-col class="card-list-info-text" size="6">{{data?.HolidayCount}}</ion-col>

                        <ion-col class="card-list-info-label" size="6">Lương thời gian</ion-col>
                        <ion-col class="card-list-info-text" size="6">{{data?.WorkingTimeSalaryAmount}}</ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="12" class="salary-detail-text-succcess">
                    {{data?.SubTotalAmount}}
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-card>
    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="1" class="card-list-icon">
                    <img src="assets/icon/icon-profile.svg" alt="">
                </ion-col>
                <ion-col size="10" class="card-list-text">
                    Bảo hiểm, thuế
                </ion-col>
                <ion-col size="1" class="card-list-button" (click)="showAmount()">
                    <ion-icon name="chevron-down-outline" *ngIf="selectedAmount == false"></ion-icon>
                    <!-- hide -->
                    <ion-icon name="chevron-up-outline" *ngIf="selectedAmount == true"></ion-icon>
                </ion-col>
                <ion-col size="12" *ngIf="selectedAmount == true">
                    <!-- detail -->
                    <ion-row>
                        <ion-col class="card-list-info-label" size="6">Tổng bảo hiểm</ion-col>
                        <ion-col class="card-list-info-text" size="6">{{data?.InsuranceAmount}}</ion-col>

                        <ion-col class="card-list-info-label" size="6">Tổng thuế</ion-col>
                        <ion-col class="card-list-info-text" size="6">{{data?.TaxAmount}}</ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="12" class="salary-detail-text-danger">
                    {{totalAmount}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card class="card-list">
        <ion-grid>
            <ion-row>
                <ion-col size="1" class="card-list-icon">
                    <img src="assets/icon/icon-profile.svg" alt="">
                </ion-col>
                <ion-col size="10" class="card-list-text">
                    Các khoản cộng trừ sau thuế
                </ion-col>
                <ion-col size="1" class="card-list-button">
                </ion-col>
                <ion-col size="12" class="salary-detail-text">
                    {{data?.AccumulationAmount}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-card class="card-salary bg-success">
        <ion-grid>
            <ion-row>
                <ion-col size="1">
                    <div class="card-salary-icon">
                        <img src="assets/icon/tick-money.svg" alt="">
                    </div>
                </ion-col>
                <ion-col size="10">
                    <div class="card-salary-header">
                        Thực nhận
                    </div>
                </ion-col>
                <ion-col size="12" class="card-salary-money">
                    {{data?.FinalAmount}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-footer>