<ion-header>
    <div class="home-header">
        <ion-grid>
            <ion-row>
                <ion-col size="2" class="home-heaedr-icon">
                    <img src="assets/icon/Rectangle.svg" alt="">
                </ion-col>
                <ion-col size="8" class="home-header-text">
                    Trang chủ
                </ion-col>
                <ion-col size="2" class="home-header-noti">
                    <img src="assets/icon/icon-header-noti.svg" alt="">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content>

</ion-content>