<ion-app class="login">
    <ion-header class="login-header ">
        <img class="login-header-logo" src="assets/icon/icon-id.svg" alt="">
    </ion-header>
    <ion-content>
        <ion-grid class="login-center">
            <ion-row>
                <ion-col size="12" class="login-text-header">
                    đăng nhập
                </ion-col>
                <form action="" class="login-forms">
                    <input class="login-forms-input" type="text" placeholder="Số điện thoại">
                    <input class="login-forms-input" type="text" placeholder="Mật khẩu">
                    <div class="login-forms-group">
                        <div class="forms-save-passwork">
                            <ion-toggle class="forms-save-passwork-button" mode="ios"></ion-toggle>
                            <ion-label>
                                Lưu mật khẩu
                            </ion-label>
                        </div>
                        <div class="forms-forgot-password">
                            Quên mật khẩu
                        </div>
                    </div>
                    <div class="login-forms-submit">
                        <button class="button-submit" type="submit" routerLink="/main/home">
                                Đăng nhập
                              </button>
                    </div>
                </form>
                <ion-col size="12" class="login-change">
                    <div class="login-change-title">
                        Hoặc đăng nhập bằng
                    </div>
                    <div class="login-change-icon">
                        <img src="assets/icon/logo-google.svg" alt="">
                        <img src="assets/icon/logo-facebook.svg" alt="">
                    </div>
                </ion-col>
                <ion-col size="12" class="login-link-sign">
                    <div class="sign-text">
                        Chưa có tài khoản
                    </div>
                    <div class="sign-link" routerLink="/index/sign">
                        Đăng ký
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-content>
</ion-app>