.login {
    padding: 0px 16px;
    width: 100%;
    .login-header {
        width: 100%;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .login-header-logo {
            // width: 158px;
            // height: 158px;
            // border-radius: 50px;
            // width: 80%;
            // object-fit: cover;
        }
    }
    .login-center {
        form {
            width: 100%;
        }
        .login-text-header {
            font-size: 16px;
            font-family: Nunito-Bold;
            color: var(--ion-color-light);
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 15px;
        }
        .login-forms {
            .login-forms-input {
                height: 45px;
                width: 100%;
                padding: 0px 16px;
                border-radius: 30px;
                margin-bottom: 20px;
                outline: none;
                border: none;
                background-color: var(--ion-color-medium);
                color: var(--ion-color-light-tint);
                &::placeholder {
                    color: var(--ion-color-light-tint);
                }
            }
            .login-forms-group {
                display: flex;
                justify-content: space-between;
                .forms-save-passwork {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: var(--ion-color-primary);
                    font-size: 12px;
                    .forms-save-passwork-button {
                        margin-right: 10px;
                        border: 1px solid var(--ion-color-primary);
                        border-radius: 20px;
                    }
                }
            }
            .login-forms-submit {
                display: flex;
                justify-content: center;
            }
        }
        .login-change {
            display: flex;
            flex-direction: column;
            width: 100%;
            .login-change-title {
                width: 100%;
                color: var(--ion-color-primary);
                font-size: 12px;
                text-align: center;
                padding: 15px 0px;
            }
            .login-change-icon {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
        .login-link-sign {
            display: flex;
            font-size: 12px;
            justify-content: center;
            .sign-text {
                color: var(--ion-color-light);
            }
            .sign-link {
                padding-left: 10px;
                color: #0974DF;
            }
        }
        .forgot-password {
            color: var(--ion-color-light-tint);
            font-size: 12px;
            text-align: center;
        }
    }
}