<ion-grid class="forgot">
    <ion-row>
        <ion-col class="forgot-header" (click)="close()">
            <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-col>
        <ion-col size="12" class="forgot-header-text">
            Nhập email để lấy lại mật khẩu
        </ion-col>
        <ion-col size="12">
            <input class="forgot-input" placeholder="Email" [(ngModel)]="getEmail">
        </ion-col>
        <ion-col class="forgot-button">
            <button class="button-login" (click)="buttonForgot()">
                Gửi
              </button>
        </ion-col>
    </ion-row>
</ion-grid>