.profile-work-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 24px;
    padding-left: 5px;
    width: 50px;
}

.profile-work-icon-line {
    margin-top: 24px;
    //     margin-right: 5px;
    background-image: url('../../../../../assets/icon/icon-person-line.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: 32px;
}

.profile-work-timeline {
    list-style: none;
    outline: none;
    width: 100%;
    padding: 0px;
    .profile-work-timeline-card {
        width: 100%;
        display: flex;
        .pw-timeline-card-icon {
            width: 10%;
        }
        .pw-timeline-card-content {
            width: 90%;
        }
    }
}